<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <section></section>
  <section class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          {% for img in data['image_urls'] %}
            <img src="{{img}}" alt="">
          {% endfor %}
        </div>
        <div class="col-md-5">
          <img src="{{ data['image_urls'][0] }}" alt="">
        </div>
        <div class="col-md-6">
          <div class="title">
            <h4><strong>{{data['name']}}</strong></h4>
          </div>
          <div class="price d-flex">
            <span>Price : </span>
            <span class="text-danger"><strong>{{data['price']}}</strong></span>
            <span><strong>{{data['shipping_messege']}}</strong></span>
          </div>
          <div class="features">
            <ul>
              {% for item in data['feature_bullets'] %}
                <li> {{item}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</body>
</html>